{% extends "base.html.twig" %}

{% block title %}{{ titre }}{% endblock %}

{% block content %}
<h1>{{ titre }}</h1>
    {% if add_ville is not null %}
        <div class="alert alert-success" role="alert">
            La ville est {{ add_ville }}
        </div>
    {% endif %}

    <p>Créer une nouvelle ville</p>
    <form action="{{ getNameToPath('ville') }}" method="post">
        <label for="nom_ville">Ville</label>
        <input type="text" id="nom_ville" name="nom_ville">
        <input type="submit" value="Envoyer">
    </form>
    
        <h2>Liste des villes</h2>
        <ul>
            {% for ville in villes %}
                <li>{{ ville.getNom() }} ({{ ville.getCodePostal() }}) - {{ ville.getNombreHabitant() }} habitants</li>
            {% endfor %}
        </ul>
{% endblock %}